 .add-question-page {
    border: 2px solid lightgray;
    background-color: lightgray;
    height: 50vh;
  }
  
  .add-question-page h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .ques {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .add-question-page label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
   #title {
    width: 90%;
    padding: 20px;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  .add-question-page button {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    align-items: end;
  }
  
  .add-question-page button[type='button'] {
    background-color: #6c757d;
    /* margin-right: 100px; */
  }
  
  .add-question-page button:hover {
    background-color: #0069d9;
  }
  
  .add-question-page button[type='button']:hover {
    background-color: #5a6268;
  }
  